
/* Page styles */

// Imports
@import "normalize";
@import "sceletus";
@import "bourbon";
@import "masonry";
@import "colours";


// General page styles
html, body {
	background: url("../img/photography.png")
}

@media screen and (max-width: 600px) {
    .header-buttons {
    	display: none;
    }
}

.wrapper{
	margin: 50px auto 0px auto;
	h1 {
		font-weight: 300;
		text-transform: uppercase;
	}
	hr {
		margin: 50px 0px 50px 0px;
		background: lighten($grey, 20%);
	}
}

//Input styles
input[type="email"],
input[type="text"],
textarea {
	padding: 10px;
	width: 100%;
	margin-bottom: 20px;
	border: 0px;
	background: $paper;
	border-radius: 3px;
	color: $black;
	border: 3px solid transparent;
	&:focus {
		outline: none;
		border: 3px solid $orange;
	}
}



// Box styles
.box {
	background: fade-out($grey, 0.8);
	width: 100%;
	border-radius: 5px;

	.header {
		background: fade-out($grey, 0.3);
		color: $paper;
		border-radius: 5px 5px 0px 0px;
		padding: 10px 10px 10px 10px;
		h2 {
			line-height: 1;
			margin-bottom: 0px;
			font-size: 2rem;
			letter-spacing: 1px;
			text-transform: uppercase
		}
	}
	.content {
		padding: 10px;
		img {
			vertical-align: middle;
			position: relative;
			bottom: 2px;
			margin-right: 5px;
			width: 16px;
		}
		a{
			font-size: 18px;
			text-decoration: none;
			line-height: 1.8;
			color: $gunMetal;
			cursor: pointer;s
			&:hover {
				color: darken($gunMetal, 20%);
			}
			.tooltip {
				display: none;
				position: fixed;
				bottom: 30px;
				right: 30px;
				background: $lightBlack;
				color: $paper;
				padding: 5px 15px 5px;
				border-radius: 3px;
				font-weight: 300;
				z-index: 2;
			}
			&:hover .tooltip {
				display: block;
			}
		}	
	}
	
	// Layout vars
	$fadeout-1: 0.7;
	$fadeout-2: 0.5;
	$darken-percent: 20%;


	// Green layout
	&.green {
		background: fade-out($emerald, $fadeout-1);
		.header {
			background: fade-out($emerald, $fadeout-2);
		}
		.content {
			a{
				color: $emerald;
				&:hover {
					color: darken($emerald, $darken-percent);
				}
			}
		}
	}

	// Blue layout
	&.blue {
		background: fade-out($belize, $fadeout-1);
		.header {
			background: fade-out($belize, $fadeout-2);
		}
		.content {
			a{
				color: $belize;
				&:hover {
					color: darken($belize, $darken-percent);
				}
			}
		}
	}

	// Red layout
	&.red {
		background: fade-out($alizarin, $fadeout-1);
		.header {
			background: fade-out($alizarin, $fadeout-2);
		}
		.content {
			a{
				color: $alizarin;
				&:hover {
					color: darken($alizarin, $darken-percent);
				}
			}
		}
	}

	// Red layout
	&.yellow {
		background: fade-out($sunflower, $fadeout-1);
		.header {
			background: fade-out($sunflower, $fadeout-2);
		}
		.content {
			a{
				color: darken($sunflower, 5%);
				&:hover {
					color: darken($sunflower, $darken-percent);
				}
			}
		}
	}

	// Purple layout
	&.purple {
		background: fade-out($amethyst, $fadeout-1);
		.header {
			background: fade-out($amethyst, $fadeout-2);
		}
		.content {
			a{
				color: $amethyst;
				&:hover {
					color: darken($amethyst, $darken-percent);
				}
			}
		}
	}

	// Brown layout
	&.brown {
		background: fade-out($brown, $fadeout-1);
		.header {
			background: fade-out($brown, $fadeout-2);
		}
		.content {
			a{
				color: $brown;
				&:hover {
					color: darken($brown, $darken-percent);
				}
			}
		}
	}

	// Turqoise layout
	&.turqoise {
		background: fade-out($turqoise, $fadeout-1);
		.header {
			background: fade-out($turqoise, $fadeout-2);
		}
		.content {
			a{
				color: $turqoise;
				&:hover {
					color: darken($turqoise, $darken-percent);
				}
			}
		}
	}

	// Turqoise layout
	&.turqoise {
		background: fade-out($turqoise, $fadeout-1);
		.header {
			background: fade-out($turqoise, $fadeout-2);
		}
		.content {
			a{
				color: $turqoise;
				&:hover {
					color: darken($turqoise, $darken-percent);
				}
			}
		}
	}

	// Carrot layout
	&.carrot {
		background: fade-out($carrot, $fadeout-1);
		.header {
			background: fade-out($carrot, $fadeout-2);
		}
		.content {
			a{
				color: $carrot;
				&:hover {
					color: darken($carrot, $darken-percent);
				}
			}
		}
	}

	// midnightBlue layout
	&.midnightBlue {
		background: fade-out($midnightBlue, $fadeout-1);
		.header {
			background: fade-out($midnightBlue, $fadeout-2);
		}
		.content {
			a{
				color: $midnightBlue;
				&:hover {
					color: darken($midnightBlue, $darken-percent);
				}
			}
		}
	}

	// Pink layout
	&.pink {
		background: fade-out($pink, $fadeout-1);
		.header {
			background: fade-out($pink, $fadeout-2);
		}
		.content {
			a{
				color: $pink;
				&:hover {
					color: darken($pink, $darken-percent);
				}
			}
		}
	}

	// Pomegranate layout
	&.pomegranate {
		background: fade-out($pomegranate, $fadeout-1);
		.header {
			background: fade-out($pomegranate, $fadeout-2);
		}
		.content {
			a{
				color: $pomegranate;
				&:hover {
					color: darken($pomegranate, $darken-percent);
				}
			}
		}
	}

	// River layout
	&.river {
		background: fade-out($river, $fadeout-1);
		.header {
			background: fade-out($river, $fadeout-2);
		}
		.content {
			a{
				color: $river;
				&:hover {
					color: darken($river, $darken-percent);
				}
			}
		}
	}
}


// Footer styles
footer {
	text-align: center;
	padding-bottom: 75px;
	.heart {
		height: 16px;
		width: 16px;
		g path {
			fill: #E0645C;
		}
	}
}

